<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
</head>

<body>
<header>
    <nav>
        <a href="/" class="links">🏠HOME</a>
        <a href="/about" target="_blank" class="links">📜ABOUT</a>
        <a href="/contact" target="_blank" class="links">☎️CONTACT US</a>
    </nav>
</header>
    <div class="contact-container">
        <h1>Contact Us</h1>
        <p class="contact-intro">Have questions or suggestions? Please feel free to contact us!</p>
        
        <form method="POST" action="{{ url_for('contact') }}" class="contact-form" style="width: 100%;">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="6" required></textarea>
            </div>
            
            <button type="submit">Send Message</button>
        </form>

        
    </div>
    <div class="footer">
        <p>Powered By <a href="https://weatherapi.com">Weatherapi.com</a></p>
    </div>

    <script src="//code.tidio.co/lm55twchachhwf9kccy8sbqaaenrgigq.js" async></script>
    </body>
    </html>
    